@import 'src/breakpoints.scss';

.background-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url("/assets/imgs/background-home-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media(max-width:1015px) {
        background-image: url("/assets/imgs/background-home-tablet.jpg");
    }

    @media(max-width:$breakpoint-xs) {
        background-image: url("/assets/imgs/background-home-mobile.jpg");
    }
}

main {
    margin: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    z-index: 10000;

    .information {
        max-width: 54rem;
        display: flex;
        flex-direction: column;
        color: white;
    }

    .explore {
        width: 27.2rem;
        height: 27.2rem;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    @media(max-width:1015px) {
        margin: 12.8rem;
        flex-direction: column;
        align-items: center;
        gap: 6.6rem;

        .information {
            align-items: center;
            text-align: center;
        }
    }

    @media(max-width:$breakpoint-xs) {
        margin: 2.4rem;

        .information {
            p:nth-child(1) {
                line-height: normal;
            }

            p:nth-child(2) {
                font-size: 8rem;
            }
        }
    }

}