@import "src/breakpoints.scss";

.destination-detail-container {
    display: flex;
    flex-direction: column;
    color: white;

    .line {
        width: 100%;
        padding: 0.1rem;
        background-color: rgba(151, 151, 151, 0.25);
        margin-block: 4rem;
    }

    .destination__statistics {
        display: flex;
        gap: 2.4rem;

        .destination__avg,
        .destination__travel {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            p {
                line-height: normal;
            }
        }
    }
}

@media(max-width: $breakpoint-md) {

    .destination-detail-container {

        .destination__title,
        .destination__information {
            text-align: center;
        }

        .destination__title {
            margin-bottom: 1.6rem;
        }

        .destination__statistics {
            justify-content: space-around;
        }

        .line {
            margin-block: 2.4rem;
        }

    }

}

@media(max-width:$breakpoint-xs) {
    .destination__title {
        font-size: 8rem;
    }

    .destination__statistics {
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;

        >* {
            align-items: center;
        }
    }
}